*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
section{
    width: 1000px;
    margin: 30px auto;
    box-sizing: border-box;
}

/*-------------SECCIÓN 1*/
.TITULO{
    color:black;
    Font-size:30px;
    font-family:fantasy;   
    margin: 10px 0px 0px 0px;
}
.descripcion_section1{
    font-size: 15px;
}
/*-------------SECCIÓN 2*/
.tabla_tipo_etiquetas{
    
}
.tabla_tipo_etiquetas{
    border: 1px solid gray;
}
.filaTitulo{
    background-color:#182126;
}
.txt_titulo{
    padding: 5px 0px 5px 0px;
    font-size: 25px;
    text-align:center;
    color:white;
}
.descripcion_tipo_etiquetas td{
    font-size:15px;
    width:50%;
    padding: 5px 5px 5px 5px;
    box-sizing: border-box;
    text-align: justify;
}

/*-------------SECCIÓN 3*/
.titulo_categoria{
    Font-size:17px;
    color:#182126;
}
.ls_tipo_etiqueta{
    color:darkslategray;
    font-family: sans-serif;
    list-style: none;
    margin: 0px 0px 0px 50px;
}
.titulo_elemento_categoria{
    Font-size:17px;
    color:#182126;
    margin: 10px 0px 0px 0px;
}
.descripcion_elemento{
    font-size: 15px;
}
/*____tablas de head y body*/
.titulo_para_head, .titulo_para_body{
    font-size: 15px;
    padding: 20px 0px 0px 0px;
    margin: 10px 0px 0px 0px;
}

.txt_etiqueta{
    width: 300px;
}








