*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
section{
    width: 1000px;
    margin: 30px auto;
    box-sizing: border-box;
}

/*SECCIÓN 1*/
.TITULO{
    color:black;
    Font-size:25px;
    font-family:fantasy;   
    margin: 20px 0px 0px 0px;
}

/*SECCIÓN 2*/

.titulo_tabla{
    text-align:center;
    Font-size:25px;
    color:white;
    background-color:#182126;
    font-family:fantasy; 
}

.subtitulo{
    Font-size:17px;
    color:#182126;
}
/*secton_texto*/

.li{
    Font-size:10px
    color:darkslategray;
    font-family: sans-serif;
    list-style: none;
    
}
.h2{
    font-size: 1.3em;
    margin-top: 1em;
}
.p{
    font-size: 1.2em;
}
/*sublista*/
.sub_lista{
    margin: 10px 0px 0px 20px;
}

.sub_lista li{
    margin: 10px 0px 0px 20px;
}

.p_head{
    color: #239B56;
}
.p_body{
    color:#D35400;
}













